.app-footer {
  display: flex;
  bottom: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 8px;
  background-color: black;
  color: white;

  & p {
    margin: 0;
  }

  > span {
    font-size: 0.8em;

    &.local-services {
      color: --var(clr1);
    }

    &.remote-services {
      color: --var(clr5);
    }
  }
}
