.app-footer {
  display: flex;
  z-index: 1000;
  bottom: 0px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 8px;
  background-color: black;
  color: white;

  & p {
    margin: 0;
  }

  > span {
    font-size: 0.8em;

    &.local-services {
      color: --var(clr1);
    }

    &.remote-services {
      color: --var(clr5);
    }
  }
}
.app-footer > * {
  flex: 1;
}

.smaller-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  margin: 0;
  background: black;
  will-change: transform;
}
.smaller-button:hover {
  background: black;
}
.smaller-button svg:hover {
  fill: white;
}
.smaller-button.green-button {
  color: var(--text-bright-accent);
}
.smaller-button.green-button svg:hover {
  fill: var(--text-bright-accent);
  color: var(--text-bright-accent);
}