.gradient-header {
  position: relative;
  margin-top: 0;
  height: 220px;
  background-color: #565656;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
  transition-duration: 1s;
  transition-property: background;
  transition-timing-function: ease;
}

/*
.gradient-header:hover {
  background-color: #e03838;
}
*/

.playlist-card-wrapper {
  container-type: inline-size;
  container-name: playlist-wrapper;
  width: 100%;
}

.playlist-card-container {
  display: grid;
  grid-gap: 8px;
  grid-auto-rows: 64px; /*item height*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 64px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 64px;
}

.playlist-card {
  display: flex;
  flex-direction: row;
  height: 64px; /*item height*/
  min-width: 238px;
  background-color: var(--background-tinted-base);
  border-radius: 4px;
  height: var(--item-height);
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.playlist-card a {
  font-weight: 550;
  text-decoration: none;
}

.playlist-card > div > div {
  margin: 0 16px;
}

.playlist-image {
  height: 64px;
  aspect-ratio: 1;
}

.playlist-card:hover {
  background: hsla(0, 0%, 100%, 0.2);
  .play-button {
    opacity: 1;
  }
}

.play-button {
  position: absolute;
  background-color: var(--text-bright-accent);
  opacity: 0;
  width: 48px;
  height: 48px;
  right: 0.5rem;
  top: 0.5rem;
  margin: 0;
  will-change: transform;
}

.play-button:hover {
  background-color: var(--button-highlight);
}

.play-button-span {
  width: 48px;
  height: 48px;
}

@container playlist-wrapper (max-width: 1141px) {
  .playlist-card-container {
    grid-template-rows: 48px;
    grid-auto-rows: 48px; /*item height*/
    grid-gap: 8px;
  }
  .playlist-card {
    max-height: 48px;
  }
  .playlist-image {
    height: 48px;
  }
  .play-button {
    width: 32px;
    height: 32px;
    top: 0.5rem;
    right: 0.25rem;
    padding: 0;
  }
  .play-button-span {
    width: 32px;
    height: 32px;
  }
  .playlist-card a {
    font-size: small;
  }
}

@container playlist-wrapper (min-width: 1599px) {
  .playlist-card-container {
    grid-template-rows: 80px;
    grid-auto-rows: 80px; /*item height*/
    grid-gap: 12px;
  }
  .playlist-card {
    max-height: 80px;
  }
  .playlist-image {
    height: 80px;
  }
  .play-button {
    right: 0.5rem;
    top: 1rem;
  }
}
