.gradient-header {
  position: relative;
  margin-top: 0;
  height: 220px;
  background-color: #303850;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
  transition-duration: 1s;
  transition-property: background;
  transition-timing-function: ease;
}

.gradient-header:hover {
  background-color: #e03838;
}

.playlist-card-wrapper {
  container-type: inline-size;
  width: 100%;
}

.playlist-card-container {
  display: grid;
  grid-gap: 8px;
  grid-auto-rows: 64px; /*item height*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 64px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 64px;
}

.playlist-card {
  height: 64px; /*item height*/
  min-width: 238px;
  background: wheat;
  background-color: var(--background-tinted-base);
  border-radius: 4px;
  container-type: size;
  height: var(--item-height);
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease;
}

@container (max-width: 1141px) {
  .playlist-card-container {
    grid-template-rows: 48px;
    grid-auto-rows: 48px; /*item height*/
    grid-gap: 8px;
  }
  .playlist-card {
    max-height: 48px;
  }
}
@container (min-width: 1599px) {
  .playlist-card-container {
    grid-template-rows: 80px;
    grid-auto-rows: 80px; /*item height*/
    grid-gap: 12px;
  }
  .playlist-card {
    max-height: 80px;
  }
}
.playlist-card:hover {
  background: hsla(0, 0%, 100%, 0.2);
}
