.home {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr minmax(284px, 26.25rem);
  grid-template-areas: "leftpanel mainview rightpanel";
  padding: 0px 8px 0px 8px;
  gap: 8px;
  background: black;
  > * {
    color: white;
    background: #121212;
  }
}

.library-view {
  overflow: auto;
  width: 420px;
  border-radius: 4px;
  min-height: 0;
}
.library-view.mini {
  width: 72px;
}

.main-view {
  overflow-y: hidden;
  border-radius: 8px;
  width: 100%;
  min-width: 0;
  min-height: 0;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
  scrollbar-width: thin;
}

.os-scroll-container {
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.22s ease;
}

.os-scroll-container:hover {
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
}

.os-scroll-container::-webkit-scrollbar {
  width: 12px;
}

.os-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.os-scroll-container::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
  background-clip: content-box;
}

.os-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}
