.player-container {
  margin-bottom: 8px;
  min-width: 500px;
}
.player-container > * {
  flex: 1;
}

.generals-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 8px;
  gap: 0px;
  justify-content: center;
}

.left-buttons-container {
  display: flex;
  margin-right: 8px;
  gap: 8px;
}

.right-buttons-container {
  display: flex;
  margin-left: 8px;
  gap: 8px;
}

.player-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  will-change: transform;
  & svg {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.player-button:hover {
  background: white;
}
