.profile-button {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.profile-button-span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(88, 155, 245);
  color: black;
  line-height: 32px;
}
