.small-search-skeleton-loader {
  position: relative;
  height: 250px;
  width: 100%;

  /* 1. Base color of the skeleton shapes */
  background-color: #aaaaaa;

  /* 2. The Wave/Shine Gradient */
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 80%
  );

  /* 3. Make the wave smaller than the container so it travels */
  /* 50% width means the "beam" is half the width of the container */
  background-size: 50% 100%;
  background-repeat: no-repeat;

  /* 4. The Mask (Cuts out the rounded rectangles) */
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3crect x='24' y='28' width='40' height='40' rx='4' /%3e%3crect x='75' y='30' width='98' height='14' rx='4' /%3e%3crect x='75' y='50' width='72' height='14' rx='4' /%3e%3crect x='24' y='78' width='40' height='40' rx='4' /%3e%3crect x='75' y='80' width='101' height='14' rx='4' /%3e%3crect x='75' y='100' width='72' height='14' rx='4' /%3e%3crect x='24' y='128' width='40' height='40' rx='4' /%3e%3crect x='75' y='128' width='98' height='14' rx='4' /%3e%3crect x='75' y='148' width='72' height='14' rx='4' /%3e%3crect x='24' y='180' width='40' height='40' rx='4' /%3e%3crect x='72' y='180' width='101' height='14' rx='4' /%3e%3crect x='72' y='200' width='72' height='14' rx='4' /%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3crect x='24' y='28' width='40' height='40' rx='4' /%3e%3crect x='75' y='30' width='98' height='14' rx='4' /%3e%3crect x='75' y='50' width='72' height='14' rx='4' /%3e%3crect x='24' y='78' width='40' height='40' rx='4' /%3e%3crect x='75' y='80' width='101' height='14' rx='4' /%3e%3crect x='75' y='100' width='72' height='14' rx='4' /%3e%3crect x='24' y='128' width='40' height='40' rx='4' /%3e%3crect x='75' y='128' width='98' height='14' rx='4' /%3e%3crect x='75' y='148' width='72' height='14' rx='4' /%3e%3crect x='24' y='180' width='40' height='40' rx='4' /%3e%3crect x='72' y='180' width='101' height='14' rx='4' /%3e%3crect x='72' y='200' width='72' height='14' rx='4' /%3e%3c/svg%3e");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  animation: skeleton-wave 5s infinite linear;
}

@keyframes skeleton-wave {
  0% {
    /* Start completely off-screen to the left */
    background-position: -50% 0;
  }
  100% {
    /* End completely off-screen to the right */
    background-position: 150% 0;
  }
}
