.song-carousel-container {
  overflow: hidden;
  width: 100%;
  padding-left: 28px;
}

.song-carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.carousel-title {
  margin: .5rem 0 .5rem .5rem;
}

.song-card {
  width: 195.5px;
  height: 247.5px;
  padding: 10px;
  border-radius: 6px;
  transition: background .05s cubic-bezier(0.3, 0, 0, 1);
}
.song-card img {
  width: 171.5px;
  height: 171.5px;
  object-fit: cover;
  border-radius: 6px;
}
.song-card:hover {
  background: var(--background-elevated-base);
}

.card-title {
  max-width: 171.5px;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.card-artist {
  color: var(--text-subdued);
  max-width: 171.5px;
  font-size: .85rem;
  margin-bottom: 0;
}
