.progress-container {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.progress-bar-container {
  flex: 1;
  display: flex;
  align-items: center;
  height: 12px;
  position: relative;
  top: -2px;
}

.playback-position {
  width: 50px;
  min-width: 25px;
  height: 17px;
  font-size: 0.75rem;
  text-align: right;
  color: var(--text-subdued);
}

.playback-duration {
  width: 50px;
  min-width: 25px;
  height: 17px;
  font-size: 0.75rem;
  text-align: left;
  color: var(--text-subdued);
}

.progress-bar {
  background: #4c4c4c;
  border-radius: 8px;
  min-width: 400px;
  width: 30vw;
  height: 4px;
}

.progress-container:hover {
  cursor: pointer;
}
.progress-container:hover .bar {
  background: #1db954;
}
.progress-container:hover .ball {
  display: block;
}
.progress-container.active .ball {
  display: block;
}
