.controls-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 15px;
}

.controls-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  margin: 0;
  background: black;
  will-change: transform;
}
.controls-button:hover {
  background: black;
}
.controls-button svg:hover {
  fill: white;
}
.controls-button.green-button {
  color: var(--text-bright-accent);
}
.controls-button.green-button svg:hover {
  fill: var(--text-bright-accent);
  color: var(--text-bright-accent);
}

.trans3 {
  transition-duration: 150ms;
}
