.carousel-inner {
  position: relative;
  align-items: center;
}

.song-carousel-container {
  width: 100%;
  max-width: 100%;
  transition: transform 0.22s ease;
}

.left-button {
  position: absolute;
  top: 45%;
}
.right-button {
  position: absolute;
  right: 1%;
  top: 45%;
}

.song-carousel {
  display: grid;
  grid-auto-flow: column;
  max-width: 1400px;
}

.carousel-title {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.carousel-title a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.song-card {
  width: 195.5px;
  height: 247.5px;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.05s cubic-bezier(0.3, 0, 0, 1);
}
.song-card img {
  width: 171.5px;
  height: 171.5px;
  object-fit: cover;
  border-radius: 6px;
}
.song-card:hover {
  background: var(--background-elevated-base);
}

.card-title {
  max-width: 171.5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-artist {
  color: var(--text-subdued);
  max-width: 171.5px;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.carousel-button {
  z-index: 100;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  will-change: transform;
  transition: opacity 0.22s ease-in;
  & svg {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}
.carousel-button:hover svg {
  fill: white;
}
