.song-controls-container .add-button-container {
  height: 16px;
  width: 16px;
  margin: 8px;
  margin-left: 4px;
  align-content: center;
}

.add-button {
  width: 16px;
  height: 16px;
  padding: 8px 0;
  margin: 0;
  padding: 0;
  background: black;
  will-change: transform;
}
.add-button:hover {
  background: black;
}
.add-button svg:hover {
  transition: fill 0.22s ease;
  fill: white;
}
.add-button.active {
  color: #1ed760;
}
.add-button.active svg {
  fill: #1ed760;
}
.add-button.active svg:hover {
  fill: currentColor;
}

.song-controls-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-bottom: 16px;
  > :first-child {
    margin-right: 8px;
  }
  img {
    width: 56px;
    height: 56px;
  }
}

.song-description {
  justify-self: start;
  margin: 0 8px;
}

.widget-song-header {
  font-size: 0.875rem;
  padding-right: 8px;
  font-weight: 400;
}

.widget-song-artist {
  padding-top: 4px;
  font-size: 0.75rem;
  padding-right: 8px;
  color: var(--text-subdued);
}
