.carousel-inner {
  position: relative;
}

.song-carousel-container {
  width: 100%;
  max-width: 100%;
  transition: transform 0.22s ease;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.left-button {
  position: absolute;
  top: 45%;
}
.right-button {
  position: absolute;
  right: 1%;
  top: 45%;
}

.song-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 0px;
  width: max-content;
  max-width: 1400px;
}

.carousel-title {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.carousel-title a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.song-card {
  position: relative;
  width: 195.5px;
  min-height: 247.5px;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.05s cubic-bezier(0.3, 0, 0, 1);
}
.song-card img {
  width: 171.5px;
  height: 171.5px;
  object-fit: cover;
  border-radius: 6px;
}
.song-card:hover {
  background: var(--background-elevated-base);
  .play-button-carousel {
    opacity: 1;
  }
}

.card-title {
  max-width: 171.5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

.card-artist {
  color: var(--text-subdued);
  max-width: 171.5px;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.carousel-button {
  z-index: 100;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  will-change: transform;
  transition: opacity 0.22s ease-in;
  & svg {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}
.carousel-button:hover svg {
  fill: white;
}

.play-button-carousel {
  position: absolute;
  opacity: 0;
  background-color: var(--text-bright-accent);
  width: 48px;
  height: 48px;
  top: 128px;
  right: 16px;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
  will-change: transform;
}
.play-button-carousel:hover {
  background-color: var(--button-highlight);
}
