.user-msg {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  display: flex;
  align-items: center;

  padding: 12px 16px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

  color: #121212;
  font-size: 14px;
  font-weight: 400;

  opacity: 0;
  translate: 0 100px;
  transition: 600ms;

  &.visible {
    opacity: 1;
    translate: 0 0;
  }

  &.success {
    background-color: #f6f6f6;
    color: #121212;
  }

  &.error {
    background-color: #e22134;
    color: #ffffff;
  }

  & button {
    background-color: var(--gray1);
    padding: 1px 6px;
    border: 0;
    border-radius: 50%;
    color: var(--gray4);
  }
}
