.volumebar-container {
  margin-right: 8px;
  padding: 4px 0px; 
}
.volumebar {
  width: 93px;
  height: 4px;
  background: #4c4c4c;
  border-radius: 8px;
}
.ball {
  position: relative;
  top: -8px;
  background-color: #fff;
  display: none;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 12px;
  width: 12px;
  justify-content: center;
  align-items: center;
}
.bar-container {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
}
.bar {
  background-color: #fff;
  height: 100%;
  transform: translateX(calc(-100% + 50%));
  border-radius: 4px;
}
.volumebar-container:hover {
  cursor: pointer;
}
.volumebar-container:hover .bar {
  background: #1db954;
}
.volumebar-container:hover .ball {
  display: block;
}
.bar.active {
  background-color: #1db954; /* green when dragging */
}
