.volumebar-container {
  margin-right: 8px;
  padding: 4px 0px;
}
.volumebar {
  width: 93px;
  height: 4px;
  background: #4c4c4c;
  background: red;
  border-radius: 8px;
}
.ball {
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: none;
  height: 12px;
  width: 12px;
  justify-content: center;
  align-items: center;
}
.bar-container {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
}
.bar {
  background-color: #fff;
  height: 100%;
  transform: translateX(calc(-100% + 50%));
  border-radius: 4px;
}
.volumebar-container:hover .bar {
  background: var(--spotify-green);
}