.library-container {
  width: 100%;
  background-color: #121212;
  color: white;
  padding: 2px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  border-radius: 1px;
  flex: 1;
}

.library-search {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
  background-color: #2a2a2a;
  color: white;
}

.library-filters {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.library-filters button {
  background: none;
  border: none;
  color: #b3b3b3;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
}

.library-filters .active {
  background-color: #333;
  color: white;
}

.library-list {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.library-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 10px;
  cursor: pointer;
}

.library-item:hover {
  background-color: #1a1a1a;
}

.library-icon {
  width: 24px;
  height: 24px;
}

.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.library-title {
  display: inline-block;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}

.library-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.library-toggle img {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  filter: invert(1); /* makes dark SVGs white */
}
.library-toggle h3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}
