* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow: hidden;
  color: --var(clr2);
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", sans-serif;
  margin: 0 0 0.6em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  max-width: 100%;
}

img,
embed,
video,
object {
  max-width: 100%;
  display: block;
}

input::placeholder,
textarea::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
