button {
  padding: 0.5em 0.8em;
  border: 0;
  margin: 0.5em;
  cursor: pointer;
  background-color: var(--clr1);
  color: whitesmoke;
}

button:hover {
  transition: 0.3s;
  background-color: var(--clr1-light);
}
