/* Flex helpers */
.flex {
  display: flex;

  > .full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.hov-enlarge:hover svg {
  transition-duration: 50ms;
  transform: scale(1.04);
}

.hov-enlarge:active {
  opacity: 0.7;
  transform: scale(1);
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-24 {
  width: 24px;
  height: 24px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.two-cols {
  grid-template-columns: minmax(284px, 26.25rem) 1fr;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

.green-button {
  color: var(--text-bright-accent);
}
.green-button svg:hover {
  color: var(--text-bright-accent);
  fill: var(--text-bright-accent);
}

.green-button::after {
  background-color: currentcolor;
  border-radius: 50%;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4px !important;
}
