:root {
  --clr1: #ce2e6c;
  --clr2: #4f3a65;
  --clr3: #574f7d;
  --clr4: #95adbe;
  --clr5: #dff0ea;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);

  --background-base: #121212;
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: #ffffff1a;
  --background-tinted-highlight: #ffffff24;
  --background-tinted-press: #ffffff36;
  --button-highlight: #3be477;
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
  --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
}
