.review-list {
  --min-column-size: 220px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
  gap: 0.5em;

  .actions {
    & button {
      padding: 0.3em 0.5em;
      float: right;
    }
  }
}
